<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8"/>

    <title>Badges</title>
    <meta name="description" content="Dynamic badges for your open-source projects!"/>
    <meta name="keywords" content="open source,badge,badges,github,gitlab"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js" defer></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js" defer></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js" defer></script>
    <script type="text/javascript" th:inline="javascript">
      window.addEventListener('load', function () {
        Vue.component(
            'badge-type',
            {
              props: [
                'name',
                'url'
              ],
              data: function () {
                return {
                  base: /*[[${#httpServletRequest.requestURL}]]*/''
                }
              },
              methods: {
                copy: function (event) {
                  var el = event.currentTarget.previousElementSibling;
                  el.focus();
                  el.select();
                  document.execCommand('copy');
                }
              },
              template: '#badge-type'
            }
        );

        var app = new Vue({
          el: '#page-body',
          data: {
            base: /*[[${#httpServletRequest.requestURL}]]*/'',

            gitlabId: '6712167',

            githubUsr: 'dotStart',

            githubOrg: 'GitHub',

            githubOwner: 'dotStart',
            githubRepo: 'Beacon',

            customColor: 'default',
            customTitle: 'title',
            customValue: 'value'
          },
          methods: {
            e: function (input) { // ugly shorthand
              return encodeURI(input);
            }
          }
        });

        $('.ui.dropdown').dropdown();
        console.log('Do you want to see my Badge?');
      });
    </script>
    <script type="text/x-template" id="badge-type">
      <tr>
        <td><strong>{{ name }}</strong></td>
        <td class="collapsing"><img v-bind:src="url"/></td>
        <td class="collapsing">
          <div class="ui right action url input">
            <input readonly type="text" v-bind:value="base + url"/>
            <button class="ui icon button" v-on:click="copy($event)"><i class="copy icon"></i>
            </button>
          </div>
        </td>
      </tr>
    </script>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/reset.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/container.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/form.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/grid.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/menu.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/site.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/segment.min.css"/>
    <style type="text/css">
      body {
        display: flex;
        flex-direction: column;
      }

      #page-body {
        flex-grow: 1;
      }

      .license,
      .license a,
      .build-metadata {
        color: rgba(255, 255, 255, 0.4);
      }

      .license a {
        transition: color 250ms ease;
      }

      .license a:hover {
        color: #fff;
      }

      .url.input input {
        min-width: 300px;
        width: 22vw;
      }
    </style>
  </head>
  <body>
    <header id="page-header" class="ui inverted vertical orange segment">
      <div class="ui container">
        <div class="ui large inverted secondary menu">
          <a th:href="@{/}" class="item">
            <i class="dashboard icon"></i>
            Badge List
          </a>

          <div class="right menu">
            <a href="https://github.com/dotStart/Badges" class="item">
              <i class="github icon"></i>
              GitHub
            </a>
          </div>
        </div>
      </div>
    </header>
    <main id="page-body" class="ui vertical segment"
          th:with="base=${#httpServletRequest.requestURL}">
      <div class="ui container">
        <noscript>
          <h2 class="ui header">JavaScript is required</h2>
          <p>This site makes heavy use of JavaScript and will not operate correctly without it</p>
        </noscript>

        <section class="ui vertical very padded segment">
          <h2 class="ui header">GitLab</h2>

          <div class="ui form">
            <div class="field">
              <label for="gitlab-projectId">Project ID</label>
              <input type="text" id="gitlab-projectId" v-model.lazy="gitlabId"/>
            </div>
          </div>

          <table class="ui very basic table">
            <tbody>
              <tr is="badge-type" name="Activity" v-bind:url="'gitlab/project/'+e(gitlabId)+'/activity'"></tr>
              <tr is="badge-type" name="Fork Count" v-bind:url="'gitlab/project/'+e(gitlabId)+'/activity'"></tr>
              <tr is="badge-type" name="Open Issue Count" v-bind:url="'gitlab/project/'+e(gitlabId)+'/issues'"></tr>
              <tr is="badge-type" name="Stargazer Count" v-bind:url="'gitlab/project/'+e(gitlabId)+'/stars'"></tr>
            </tbody>
          </table>
        </section>
        <section class="ui vertical very padded segment">
          <h2 class="ui header">GitHub (Users)</h2>

          <div class="ui form">
            <div class="field">
              <label for="github-usrName">Users</label>
              <input type="text" id="github-usrName" v-model.lazy="githubUsr"/>
            </div>
          </div>

          <table class="ui very basic table">
            <tbody>
              <tr is="badge-type" name="Company" v-bind:url="'github/user/'+e(githubUsr)+'/company'"></tr>
              <tr is="badge-type" name="Location" v-bind:url="'github/user/'+e(githubUsr)+'/location'"></tr>
              <tr is="badge-type" name="Hireable" v-bind:url="'github/user/'+e(githubUsr)+'/hireable'"></tr>
              <tr is="badge-type" name="Repository Count" v-bind:url="'github/user/'+e(githubUsr)+'/repositories'"></tr>
              <tr is="badge-type" name="Gist Count" v-bind:url="'github/user/'+e(githubUsr)+'/gists'"></tr>
              <tr is="badge-type" name="Follower Count" v-bind:url="'github/user/'+e(githubUsr)+'/followers'"></tr>
              <tr is="badge-type" name="Following Count" v-bind:url="'github/user/'+e(githubUsr)+'/following'"></tr>
            </tbody>
          </table>
        </section>
        <section class="ui vertical very padded segment">
          <h2 class="ui header">GitHub (Organizations)</h2>

          <div class="ui form">
            <div class="field">
              <label for="github-orgName">Organization Name</label>
              <input type="text" id="github-orgName" v-model.lazy="githubOrg"/>
            </div>
          </div>

          <table class="ui very basic table">
            <tbody>
              <tr is="badge-type" name="Location" v-bind:url="'github/organization/'+e(githubOrg)+'/location'"></tr>
              <tr is="badge-type" name="Repository Count" v-bind:url="'github/organization/'+e(githubOrg)+'/repositories'"></tr>
            </tbody>
          </table>
        </section>
        <section class="ui vertical very padded segment">
          <h2 class="ui header">GitHub (Repositories)</h2>

          <div class="ui form">
            <div class="two fields">
              <div class="field">
                <label for="github-ownerName">Organization/User Login</label>
                <input type="text" id="github-ownerName" v-model.lazy="githubOwner"/>
              </div>
              <div class="field">
                <label for="github-repositoryName">Repository Name</label>
                <input type="text" id="github-repositoryName" v-model.lazy="githubRepo"/>
              </div>
            </div>
          </div>

          <table class="ui very basic table">
            <tbody>
              <tr is="badge-type" name="Activity" v-bind:url="'github/repository/'+e(githubOwner)+'/'+e(githubRepo)+'/activity'"></tr>
              <tr is="badge-type" name="Fork Count" v-bind:url="'github/repository/'+e(githubOwner)+'/'+e(githubRepo)+'/forks'"></tr>
              <tr is="badge-type" name="Open Issue Count" v-bind:url="'github/repository/'+e(githubOwner)+'/'+e(githubRepo)+'/issues'"></tr>
              <tr is="badge-type" name="Language" v-bind:url="'github/repository/'+e(githubOwner)+'/'+e(githubRepo)+'/language'"></tr>
              <tr is="badge-type" name="License" v-bind:url="'github/repository/'+e(githubOwner)+'/'+e(githubRepo)+'/license'"></tr>
              <tr is="badge-type" name="Latest Release" v-bind:url="'github/repository/'+e(githubOwner)+'/'+e(githubRepo)+'/release'"></tr>
              <tr is="badge-type" name="Stargazer Count" v-bind:url="'github/repository/'+e(githubOwner)+'/'+e(githubRepo)+'/stars'"></tr>
              <tr is="badge-type" name="Subscriber Count" v-bind:url="'github/repository/'+e(githubOwner)+'/'+e(githubRepo)+'/subscribers'"></tr>
              <tr is="badge-type" name="Watcher Count" v-bind:url="'github/repository/'+e(githubOwner)+'/'+e(githubRepo)+'/watchers'"></tr>
            </tbody>
          </table>
        </section>
        <section class="ui vertical very padded segment">
          <h2 class="ui header">Custom</h2>

          <div class="ui form">
            <div class="two fields">
              <div class="field">
                <label for="custom-title">Title</label>
                <input type="text" id="custom-title" v-model.lazy="customTitle"/>
              </div>
              <div class="field">
                <label for="custom-value">Color</label>
                <input type="text" id="custom-value" v-model.lazy="customValue"/>
              </div>
              <div class="field">
                <label for="custom-color">Color</label>
                <div class="ui fluid search selection dropdown">
                  <input type="hidden" id="custom-color" v-model.lazy="customColor"/>
                  <i class="dropdown icon"></i>
                  <div class="default text">Select a Color</div>

                  <div class="menu">
                    <div class="item" th:each="color : ${T(tv.dotstart.badge.badge.Badge.Color).values()}">
                      <span th:text="${color.name().toLowerCase()}" th:remove="tag"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <section class="ui basic center aligned segment">
            <img v-bind:src="'custom/' + customColor + '/' + customTitle + '/' + customValue"/>
            <p>
              <code>
                <span th:text="${base}"></span>custom/{{ e(customColor) }}/{{ e(customTitle) }}/{{ e(customValue) }}
              </code>
            </p>
          </section>

          <div class="ui center aligned computer only grid">
            <div class="three wide column" th:each="color : ${T(tv.dotstart.badge.badge.Badge.Color).values()}">
              <img th:src="@{/custom/{color}/color/{color}(color=${color.name().toLowerCase()})}"/>
            </div>
          </div>
        </section>
      </div>
    </main>
    <footer id="page-footer" class="ui inverted vertical segment">
      <div class="ui equal width bottom aligned stackable container grid">
        <div class="column">
          <h5 class="ui inverted header">Project</h5>
          <div class="ui inverted link list">
            <a href="https://github.com/dotStart/Badges" class="item">Contribute on GitHub</a>
            <a href="https://github.com/dotStart" class="item">Provided by @dotStart</a>
          </div>
        </div>
        <div class="right aligned computer only column">
          <p class="build-metadata" th:inline="text">
            [[${@badgeVersion.name}]] v[[${@badgeVersion.version}]]+[[${@badgeVersion.revision}]] ([[${@badgeVersion.timestamp}]])
          </p>
          <p class="license">
            Proudly provided under the terms of the
            <a href="https://www.apache.org/licenses/LICENSE-2.0.txt">Apache License, Version 2.0</a>
          </p>
        </div>
      </div>
    </footer>

    <noscript id="deferred-styles">
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/button.min.css"/>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/dropdown.min.css"/>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/header.min.css"/>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/icon.min.css"/>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/input.min.css"/>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/list.min.css"/>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/table.min.css"/>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/transition.min.css"/>
    </noscript>
    <script type="text/javascript">
      window.addEventListener('load', function () {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");

        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
      })
    </script>
  </body>
</html>
