<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8"/>

    <title>Badges</title>
    <meta name="description" content="Dynamic badges for your open-source projects!"/>
    <meta name="keywords" content="open source,badge,badges,github,gitlab"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        var app = new Vue({
          el: '#page-body',
          data: {
            gitlabId: '6712167',

            githubUsr: 'dotStart',

            githubOrg: 'GitHub',

            githubOwner: 'dotStart',
            githubRepo: 'Beacon',

            customColor: 'default',
            customTitle: 'title',
            customValue: 'value'
          },
          methods: {
            e: function (input) { // ugly shorthand
              return encodeURI(input);
            }
          }
        });

        $('.ui.dropdown').dropdown();
        console.log('Do you want to see my Badge?');
      });
    </script>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css"/>
    <style type="text/css">
      body {
        display: flex;
        flex-direction: column;
      }

      #page-body {
        flex-grow: 1;
      }

      .license,
      .license a {
        color: rgba(255, 255, 255, 0.4);
      }

      .license a {
        transition: color 250ms ease;
      }

      .license a:hover {
        color: #fff;
      }

      code {
        padding: 2px 4px;
        background-color: #eeeeee;
        border-radius: 3px;
      }
    </style>
  </head>
  <body>
    <header id="page-header" class="ui inverted vertical orange segment">
      <div class="ui container">
        <div class="ui large inverted secondary menu">
          <a th:href="@{/}" class="item">
            <i class="dashboard icon"></i>
            Badge List
          </a>

          <div class="right menu">
            <a href="https://github.com/dotStart/Badges" class="item">
              <i class="github icon"></i>
              GitHub
            </a>
          </div>
        </div>
      </div>
    </header>
    <main id="page-body" class="ui vertical segment"
          th:with="base=${#httpServletRequest.requestURL}">
      <div class="ui container">
        <noscript>
          <h2 class="ui header">JavaScript is required</h2>
          <p>This site makes heavy use of JavaScript and will not operate correctly without it</p>
        </noscript>

        <section class="ui vertical very padded segment">
          <h2 class="ui header">GitLab</h2>

          <div class="ui form">
            <div class="field">
              <label for="gitlab-projectId">Project ID</label>
              <input type="text" id="gitlab-projectId" v-model.lazy="gitlabId"/>
            </div>
          </div>

          <table class="ui very basic table">
            <tbody>
              <tr>
                <td><strong>Activity</strong></td>
                <td class="collapsing">
                  <img v-bind:src="'gitlab/project/' + gitlabId + '/activity'"/>
                </td>
                <td class="collapsing">
                  <code>
                    <span th:text="${base}"></span>gitlab/project/{{ e(gitlabId) }}/activity
                  </code>
                </td>
              </tr>
              <tr>
                <td><strong>Fork Count</strong></td>
                <td class="collapsing">
                  <img v-bind:src="'gitlab/project/' + gitlabId + '/forks'"/>
                </td>
                <td class="collapsing">
                  <code>
                    <span th:text="${base}"></span>gitlab/project/{{ e(gitlabId) }}/forks
                  </code>
                </td>
              </tr>
              <tr>
                <td><strong>Open Issue Count</strong></td>
                <td class="collapsing">
                  <img v-bind:src="'gitlab/project/' + gitlabId + '/issues'"/>
                </td>
                <td class="collapsing">
                  <code>
                    <span th:text="${base}"></span>gitlab/project/{{ e(gitlabId) }}/issues
                  </code>
                </td>
              </tr>
              <tr>
                <td><strong>Stargazer Count</strong></td>
                <td class="collapsing">
                  <img v-bind:src="'gitlab/project/' + gitlabId + '/stars'"/>
                </td>
                <td class="collapsing">
                  <code>
                    <span th:text="${base}"></span>gitlab/project/{{ e(gitlabId) }}/stars
                  </code>
                </td>
              </tr>
            </tbody>
          </table>
        </section>
        <section class="ui vertical very padded segment">
          <h2 class="ui header">GitHub (Users)</h2>

          <div class="ui form">
            <div class="field">
              <label for="github-usrName">Users</label>
              <input type="text" id="github-usrName" v-model.lazy="githubUsr"/>
            </div>
          </div>

          <table class="ui very basic table">
            <tbody>
              <tr>
                <td><strong>Company</strong></td>
                <td class="collapsing">
                  <img v-bind:src="'github/user/' + githubUsr + '/company'"/>
                </td>
                <td class="collapsing">
                  <code>
                    <span th:text="${base}"></span>github/user/{{ e(githubUsr) }}/company
                  </code>
                </td>
              </tr>
              <tr>
                <td><strong>Location</strong></td>
                <td class="collapsing">
                  <img v-bind:src="'github/user/' + githubUsr + '/location'"/>
                </td>
                <td class="collapsing">
                  <code>
                    <span th:text="${base}"></span>github/user/{{ e(githubUsr) }}/location
                  </code>
                </td>
              </tr>
              <tr>
                <td><strong>Hireable</strong></td>
                <td class="collapsing">
                  <img v-bind:src="'github/user/' + githubUsr + '/hireable'"/>
                </td>
                <td class="collapsing">
                  <code>
                    <span th:text="${base}"></span>github/user/{{ e(githubUsr) }}/hireable
                  </code>
                </td>
              </tr>
              <tr>
                <td><strong>Repository Count</strong></td>
                <td class="collapsing">
                  <img v-bind:src="'github/user/' + githubUsr + '/repositories'"/>
                </td>
                <td class="collapsing">
                  <code>
                    <span th:text="${base}"></span>github/user/{{ e(githubUsr) }}/repositories
                  </code>
                </td>
              </tr>
              <tr>
                <td><strong>Gist Count</strong></td>
                <td class="collapsing">
                  <img v-bind:src="'github/user/' + githubUsr + '/gists'"/>
                </td>
                <td class="collapsing">
                  <code>
                    <span th:text="${base}"></span>github/user/{{ e(githubUsr) }}/gists
                  </code>
                </td>
              </tr>
              <tr>
                <td><strong>Follower Count</strong></td>
                <td class="collapsing">
                  <img v-bind:src="'github/user/' + githubUsr + '/followers'"/>
                </td>
                <td class="collapsing">
                  <code>
                    <span th:text="${base}"></span>github/user/{{ e(githubUsr) }}/followers
                  </code>
                </td>
              </tr>
              <tr>
                <td><strong>Following Count</strong></td>
                <td class="collapsing">
                  <img v-bind:src="'github/user/' + githubUsr + '/following'"/>
                </td>
                <td class="collapsing">
                  <code>
                    <span th:text="${base}"></span>github/user/{{ e(githubUsr) }}/following
                  </code>
                </td>
              </tr>
            </tbody>
          </table>
        </section>
        <section class="ui vertical very padded segment">
          <h2 class="ui header">GitHub (Organizations)</h2>

          <div class="ui form">
            <div class="field">
              <label for="github-orgName">Organization Name</label>
              <input type="text" id="github-orgName" v-model.lazy="githubOrg"/>
            </div>
          </div>

          <table class="ui very basic table">
            <tbody>
              <tr>
                <td><strong>Location</strong></td>
                <td class="collapsing">
                  <img v-bind:src="'github/organization/' + githubOrg + '/location'"/>
                </td>
                <td class="collapsing">
                  <code>
                    <span th:text="${base}"></span>github/organization/{{ e(githubOrg) }}/location
                  </code>
                </td>
              </tr>
              <tr>
                <td><strong>Repository Count</strong></td>
                <td class="collapsing">
                  <img v-bind:src="'github/organization/' + githubOrg + '/repositories'"/>
                </td>
                <td class="collapsing">
                  <code>
                    <span th:text="${base}"></span>github/organization/{{ e(githubOrg) }}/repositories
                  </code>
                </td>
              </tr>
            </tbody>
          </table>
        </section>
        <section class="ui vertical very padded segment">
          <h2 class="ui header">GitHub (Repositories)</h2>

          <div class="ui form">
            <div class="two fields">
              <div class="field">
                <label for="github-ownerName">Organization/User Login</label>
                <input type="text" id="github-ownerName" v-model.lazy="githubOwner"/>
              </div>
              <div class="field">
                <label for="github-repositoryName">Repository Name</label>
                <input type="text" id="github-repositoryName" v-model.lazy="githubRepo"/>
              </div>
            </div>
          </div>

          <table class="ui very basic table">
            <tbody>
              <tr>
                <td><strong>Activity</strong></td>
                <td class="collapsing">
                  <img v-bind:src="'github/repository/' + githubOwner + '/' + githubRepo + '/activity'"/>
                </td>
                <td class="collapsing">
                  <code>
                    <span th:text="${base}"></span>github/repository/{{ e(githubOwner) }}/{{ e(githubRepo) }}/activity
                  </code>
                </td>
              </tr>
              <tr>
                <td><strong>Fork Count</strong></td>
                <td class="collapsing">
                  <img v-bind:src="'github/repository/' + githubOwner + '/' + githubRepo + '/forks'"/>
                </td>
                <td class="collapsing">
                  <code>
                    <span th:text="${base}"></span>github/repository/{{ e(githubOwner) }}/{{ e(githubRepo) }}/forks
                  </code>
                </td>
              </tr>
              <tr>
                <td><strong>Open Issue Count</strong></td>
                <td class="collapsing">
                  <img v-bind:src="'github/repository/' + githubOwner + '/' + githubRepo + '/issues'"/>
                </td>
                <td class="collapsing">
                  <code>
                    <span th:text="${base}"></span>github/repository/{{ e(githubOwner) }}/{{ e(githubRepo) }}/issues
                  </code>
                </td>
              </tr>
              <tr>
                <td><strong>Language</strong></td>
                <td class="collapsing">
                  <img v-bind:src="'github/repository/' + githubOwner + '/' + githubRepo + '/language'"/>
                </td>
                <td class="collapsing">
                  <code>
                    <span th:text="${base}"></span>github/repository/{{ e(githubOwner) }}/{{ e(githubRepo) }}/language
                  </code>
                </td>
              </tr>
              <tr>
                <td><strong>License</strong></td>
                <td class="collapsing">
                  <img v-bind:src="'github/repository/' + githubOwner + '/' + githubRepo + '/license'"/>
                </td>
                <td class="collapsing">
                  <code>
                    <span th:text="${base}"></span>github/repository/{{ e(githubOwner) }}/{{ e(githubRepo) }}/license
                  </code>
                </td>
              </tr>
              <tr>
                <td><strong>Release</strong></td>
                <td class="collapsing">
                  <img v-bind:src="'github/repository/' + githubOwner + '/' + githubRepo + '/release'"/>
                </td>
                <td class="collapsing">
                  <code>
                    <span th:text="${base}"></span>github/repository/{{ e(githubOwner) }}/{{ e(githubRepo) }}/release
                  </code>
                </td>
              </tr>
              <tr>
                <td><strong>Stargazer Count</strong></td>
                <td class="collapsing">
                  <img v-bind:src="'github/repository/' + githubOwner + '/' + githubRepo + '/stars'"/>
                </td>
                <td class="collapsing">
                  <code>
                    <span th:text="${base}"></span>github/repository/{{ e(githubOwner) }}/{{ e(githubRepo) }}/stars
                  </code>
                </td>
              </tr>
              <tr>
                <td><strong>Subscriber Count</strong></td>
                <td class="collapsing">
                  <img v-bind:src="'github/repository/' + githubOwner + '/' + githubRepo + '/subscribers'"/>
                </td>
                <td class="collapsing">
                  <code>
                    <span th:text="${base}"></span>github/repository/{{ e(githubOwner) }}/{{ e(githubRepo) }}/subscribers
                  </code>
                </td>
              </tr>
              <tr>
                <td><strong>Watchers Count</strong></td>
                <td class="collapsing">
                  <img v-bind:src="'github/repository/' + githubOwner + '/' + githubRepo + '/watchers'"/>
                </td>
                <td class="collapsing">
                  <code>
                    <span th:text="${base}"></span>github/repository/{{ e(githubOwner) }}/{{ e(githubRepo) }}/watchers
                  </code>
                </td>
              </tr>
            </tbody>
          </table>
        </section>
        <section class="ui vertical very padded segment">
          <h2 class="ui header">Custom</h2>

          <div class="ui form">
            <div class="two fields">
              <div class="field">
                <label for="custom-title">Title</label>
                <input type="text" id="custom-title" v-model.lazy="customTitle"/>
              </div>
              <div class="field">
                <label for="custom-value">Color</label>
                <input type="text" id="custom-value" v-model.lazy="customValue"/>
              </div>
              <div class="field">
                <label for="custom-color">Color</label>
                <div class="ui fluid search selection dropdown">
                  <input type="hidden" id="custom-color" v-model.lazy="customColor"/>
                  <i class="dropdown icon"></i>
                  <div class="default text">Select a Color</div>

                  <div class="menu">
                    <div class="item" th:each="color : ${T(tv.dotstart.badge.badge.Badge.Color).values()}">
                      <span th:text="${color.name().toLowerCase()}" th:remove="tag"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <section class="ui basic center aligned segment">
            <img v-bind:src="'custom/' + customColor + '/' + customTitle + '/' + customValue"/>
            <p>
              <code>
                <span th:text="${base}"></span>custom/{{ e(customColor) }}/{{ e(customTitle) }}/{{ e(customValue) }}
              </code>
            </p>
          </section>

          <div class="ui center aligned grid">
            <div class="three wide column" th:each="color : ${T(tv.dotstart.badge.badge.Badge.Color).values()}">
              <img th:src="@{/custom/{color}/color/{color}(color=${color.name().toLowerCase()})}"/>
            </div>
          </div>
        </section>
      </div>
    </main>
    <footer id="page-footer" class="ui inverted vertical segment">
      <div class="ui equal width bottom aligned container grid">
        <div class="column">
          <h5 class="ui inverted header">Project</h5>
          <div class="ui inverted link list">
            <a href="https://github.com/dotStart/Badges" class="item">Contribute on GitHub</a>
            <a href="https://github.com/dotStart" class="item">Provided by @dotStart</a>
          </div>
        </div>
        <div class="right aligned column">
          <p class="license">
            Proudly provided under the terms of the
            <a href="https://www.apache.org/licenses/LICENSE-2.0.txt">Apache License, Version 2.0</a>
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
